:root {
  --md-primary-fg-color: #20344F;
  --md-accent-fg-color: #20344F;
}

#api-thingsolver-url {
  color: #0056d6 !important;
  font-weight: 700 !important;
}

table thead tr {
  background-color: #f0f0f0;
}